@charset "UTF-8";
body {
  border-top: 4px solid #f06c18;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif; }

h2 {
  color: #ff8d3a;
  font-weight: 600;
  margin: 20px 0 20px 0; }

a {
  cursor: pointer; }

input, textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

/* -------- HEADER  -------- */
header {
  width: 100%;
  background: #ff8d3a;
  color: white;
  display: table;
  margin: 0 !important;
  padding-top: 20px; }

.header-container {
  text-align: center; }

.header-login-container {
  width: 100%;
  display: inline-block;
  margin: 15px 0; }

.header-logo {
  width: 270px;
  height: 56px;
  margin: 15px auto 0 auto;
  margin-bottom: 20px;
  text-indent: -9999px;
  background: url(../img/logoTop.png);
  background-size: 270px auto; }

.header-login {
  width: 100%;
  background-color: #fe9946;
  padding: 15px 0 2px 0; }
  .header-login p {
    opacity: 1;
    color: #f06c18;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 6px 0 17px 0; }
    .header-login p .icon_key {
      display: inline-block;
      font-size: 1.2em;
      margin-right: 10px;
      position: relative;
      top: 1px; }
  .header-login input:focus, .header-login input:active {
    background-color: #ffebdc; }

.header-login.logged {
  padding-bottom: 15px; }

.header-login-profile, .header-login-info {
  float: left;
  display: inline-block; }

.header-login-profile {
  margin: 0 15px; }

.login-user p {
  font-size: 1.1em !important;
  font-weight: 600 !important;
  color: white !important; }

.login-controls {
  text-align: left; }
  .login-controls a {
    margin-right: 5px; }

.login-notifications {
  display: inline-block;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  padding: 3px 9px;
  background-color: #f06c18;
  border-radius: 20px; }

.login-notifications:hover {
  background-color: #d0570a; }

.login-control {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-size: 1.1em;
  background-color: white;
  color: #ff8d3a;
  text-align: center;
  line-height: 26px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.login-control:hover {
  background-color: #f06c18;
  color: white;
  text-align: center;
  line-height: 26px; }

.header-help {
  display: none; }

nav {
  clear: both; }

.nav-pills {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 14px; }

.nav-pills li {
  width: 100%;
  display: block; }

#nav-toggle {
  width: 60px;
  height: 34px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  color: white;
  font-size: 3.5em;
  text-align: center;
  background-color: #f06c18; }

/* SLIDER */
@media only screen and (max-width: 468px) {
  #home-slider {
    display: none; }

  .home-capacitadores-ubicacion-bloque:first-child {
    margin-top: 10px; } }
/* --------  CAPACITADORES / UBICACIÓN  -------- */
.home-capacitadores-ubicacion-bloque {
  width: 100%;
  height: 170px;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 23px;
  padding-top: 30px;
  background-color: #348dc9;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .home-capacitadores-ubicacion-bloque i {
    font-size: 4.2em;
    /*position: relative;
    top: 36px;*/ }

.home-capacitadores-ubicacion-bloque:hover {
  background-color: #2e7cb2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.home-capacitadores-ubicacion-bloque:first-child {
  margin-bottom: 12px; }

.home-capacitadores-ubicacion-bloque p {
  padding: 0 30px; }

@media only screen and (min-width: 767px) {
  .header-logo {
    float: left;
    margin: 17px auto 0 5.5%; }

  .header-login-container {
    width: 400px;
    margin: 0;
    float: right; }
    .header-login-container input {
      width: 120px; }

  .nav-pills {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    float: none;
    background-color: #f06c18; }

  .nav-pills li {
    width: auto;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    float: none; }

  .nav-pills > li > a {
    padding: 20px 26px;
    margin: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover,
  .nav-pills > .active > a:focus {
    color: white;
    background-color: #ff8d3a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .header-login-container, .header-help {
    position: relative;
    top: -20px; } }
@media only screen and (min-width: 860px) {
  .header-help {
    width: 76px;
    height: 80px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    line-height: 15px;
    text-transform: uppercase;
    background-color: #fe9946;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .header-help span {
      font-size: 2.2em;
      position: relative;
      line-height: 52px; }

  .header-help:hover {
    background-color: #f06c18;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; } }
section#home-ofertacap, section#home-equipo, section#home-noticias {
  width: 100%;
  margin: 20px 0;
  padding: 12px 0; }

section#home-ofertacap, section#home-equipo  {
  background-color: #ffefde; }

/* --------  OFERTA CAPACITACIÓN  -------- */
.verde, .rojo, .azul {
  color: white; }

.verde {
  background-color: #86c440; }

.rojo {
  background-color: #ce4850; }

.azul {
  background-color: #348dc9; }

.home-ofertacap-etiquetas {
  text-align: center;
  margin: 50px 0 30px 0; }

.ofertacap-etiqueta {
  display: inline-block;
  padding: 7px 20px;
  margin: 0 6px 10px 0; }

.ofertacap-etiqueta.verde:hover {
  background-color: #7ab13c; }

.ofertacap-etiqueta.rojo:hover {
  background-color: #ba4249; }

.ofertacap-etiqueta.azul:hover {
  background-color: #2e7cb2; }

@media only screen and (max-width: 400px) {
  .ofertacap-etiqueta {
    padding: 7px 14px;
    font-size: 0.85em; } }
/*
.home-ofertacap-containeritems {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: block;
	list-style: none;
}

.home-ofertacap-containeritems:after,
.home-ofertacap-item:before {
    content: '';
    display: table;
}
 
.home-ofertacap-containeritems:after {
    clear: both;
} */
.home-ofertacap-item {
  width: 100%;
  max-width: 340px;
  min-height: 140px;
  display: block;
  margin: 0 0 30px 0;
  color: white;
  font-size: 0.9em;
  /*vertical-align: top;*/
  position: relative;
  /*padding-bottom: 51px;*/
  cursor: pointer;
  overflow: hidden; }
  .home-ofertacap-item img {
    display: inline-block; }
  .home-ofertacap-item h4 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 22px;
    margin: 0 0 24px 0;
    padding: 15px 0; }
    .home-ofertacap-item h4 a {
      display: inline-block;
      position: relative;
      top: 25%; }
  .home-ofertacap-item p {
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding: 0 25px;
    margin-bottom: 28px; }
  .home-ofertacap-item .info {
    width: 100%;
    height: 51px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 50px;
    position: absolute;
    bottom: 0px; }
    .home-ofertacap-item .info i {
      font-size: 1.9em;
      position: relative;
      top: 5px;
      padding: 0 7px 0 0; }
    .home-ofertacap-item .info span:first-child {
      margin-right: 20px; }

.home-ofertacap-item.rojo .info, li.home-ofertacap-item.rojo > h4 {
  background-color: #ba4249; }

.home-ofertacap-item.azul .info, li.home-ofertacap-item.azul > h4 {
  background-color: #2e7cb2; }

.home-ofertacap-item.verde .info, li.home-ofertacap-item.verde > h4 {
  background-color: #7ab13c; }

@media only screen and (min-width: 599px) {
  .home-ofertacap-item {
    width: 240px !important; } }
@media only screen and (min-width: 799px) {
  .home-ofertacap-item {
    min-height: 570px !important; } }
@media only screen and (min-width: 799px) {
  .home-ofertacap-item img {
    width: 240px !important;
    height: 240px !important;
    position: relative;
    float: none; } }
/* --------  EQUIPO CAPACITADORES  -------- */
#home-equipo-carousel {
  width: 230px;
  margin: 40px auto 0 auto; }

@media only screen and (min-width: 500px) {
  #home-equipo-carousel {
    width: 100%;
    margin: 0; } }
.home-equipo {
  width: 230px !important;
  height: 391px !important; }
  .home-equipo img {
    display: block; }
  .home-equipo div {
    width: 100%;
    height: 61px;
    background-color: #5abcb3; }
    .home-equipo div p {
      width: 230px;
      height: 61px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: white;
      text-transform: uppercase;
      font-weight: 700; }

.es-navigation {
  opacity: 0.20; }

.es-navigation:hover {
  opacity: 0.4; }

/* --------  ÚLTIMAS NOTICIAS  -------- */
.noticia-home-container {
  border-left: 4px solid #ffe1c2;
  background-color: #ffefde;
  padding: 10px 28px 15px 28px;
  margin-bottom: 30px; }
  .noticia-home-container .fecha {
    display: block;
    font-size: 0.8em;
    color: #8f8f8f;
    font-style: italic; }
  .noticia-home-container h4 {
    color: #ff8d3a;
    font-weight: 600; }

.noticia-home-boton {
  float: right;
  background-color: #ff8d3a;
  padding: 11px 20px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: -15px;
  right: -14px;
  margin-left: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.noticia-home-boton:hover {
  background-color: #f06c18; }

/* --------  FOOTER  -------- */
footer {
  background-color: #f06c18;
  padding: 5px 0 30px 0;
  color: white;
  margin-top: 50px; }

.footer-logo-container {
  max-width: 440px; }

.logoFooter {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px; }

.texto-fehgra {
  text-align: center;
  font-size: 1.25em;
  padding: 0 50px;
  letter-spacing: -1px;
  line-height: 24px; }

.footer-contacto {
  display: inline-block;
  float: right;
  clear: both;
  text-align: right;
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: #ff8d3a;
  margin-bottom: 10px; }
  .footer-contacto span {
    font-size: 1.3em;
    padding-right: 16px;
    position: relative;
    top: 2px; }

.footer-social-container {
  float: right;
  margin-top: 30px; }
  .footer-social-container a {
    padding: 15px;
    background-color: #ff8d3a;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .footer-social-container a span {
      font-size: 1.5em;
      position: relative;
      top: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .footer-social-container a:hover {
    background-color: #ffefde; }
    .footer-social-container a:hover span {
      color: #f06c18; }

@media only screen and (max-width: 767px) {
  footer .span6 {
    width: 100%;
    max-width: none;
    float: none;
    clear: both;
    text-align: center; }

  .texto-fehgra {
    max-width: 340px;
    margin: 0 auto 30px auto; }

  .footer-contacto {
    float: none; }

  .footer-social-container {
    text-align: center;
    float: none; } }
@media only screen and (max-width: 360px) {
  .footer-contacto-container {
    font-size: 0.75em; }

  .footer-contacto {
    display: block;
    padding: 10px 0;
    width: 100%;
    text-align: center; }

  .texto-fehgra {
    padding: 0 20px; } }
/* --------  PÁGINA: OFERTA DE CAPACITACIÓN  -------- */
.container {
  position: relative; }

.ofertacap-busqueda {
  position: absolute;
  right: 0;
  top: 25px;
  display: inline-block;
  float: right; }
  .ofertacap-busqueda span {
    float: right;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #ff8d3a;
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 30px; }

.ofertacap-categoria h3 {
  margin-bottom: 40px;
  text-transform: uppercase; }

.ofertacap-curso {
  width: 100%;
  display: table;
  margin-top: 20px;
  color: white; }
  .ofertacap-curso .col1, .ofertacap-curso .col2, .ofertacap-curso .col3 {
    display: table-cell;
    vertical-align: top; }
  .ofertacap-curso .col1 {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.3); }
  .ofertacap-curso .col2 {
    width: 55%;
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 30px; }
    .ofertacap-curso .col2 h4 {
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px; }
    .ofertacap-curso .col2 p {
      margin: 0; }
  .ofertacap-curso .col3 {
    width: 30%;
    text-align: center;
    position: relative;
    padding: 16px 30px 0 30px; }

@media only screen and (max-width: 767px) {
  .ofertacap-curso {
    display: block;
    padding-bottom: 25px; }
    .ofertacap-curso .col1, .ofertacap-curso .col2, .ofertacap-curso .col3 {
      width: auto; }
    .ofertacap-curso .col2, .ofertacap-curso .col3 {
      display: block;
      border: 0; }
    .ofertacap-curso .col2 {
      border-right: 0px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .ofertacap-curso .col1 {
      display: block;
      width: 100%; }
      .ofertacap-curso .col1 img {
        display: block;
        margin: 0 auto; }

  .ofertacap-info-oculta ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  .ofertacap-busqueda {
    float: left;
    position: relative;
    margin-bottom: 25px; } }
.ofertacap-verde h3 {
  color: #86c440; }
.ofertacap-verde .ofertacap-curso {
  background-color: #86c440; }
  .ofertacap-verde .ofertacap-curso .col2 {
    border-right: 1px solid #7ab13c; }
.ofertacap-verde .ofertacap-info-oculta {
  background-color: #7ab13c; }

.ofertacap-rojo h3 {
  color: #ce4850; }
.ofertacap-rojo .ofertacap-curso {
  background-color: #ce4850; }
  .ofertacap-rojo .ofertacap-curso .col2 {
    border-right: 1px solid #ba4249; }
.ofertacap-rojo .ofertacap-info-oculta {
  background-color: #ba4249; }

.ofertacap-azul h3 {
  color: #348dc9; }
.ofertacap-azul .ofertacap-curso {
  background-color: #348dc9; }
  .ofertacap-azul .ofertacap-curso .col2 {
    border-right: 1px solid #2e7cb2; }
.ofertacap-azul .ofertacap-info-oculta {
  background-color: #2e7cb2; }

.ofertacap-curso-info:first-child {
  margin-bottom: 15px; }

.ofertacap-curso-info {
  font-size: 1.15em;
  text-align: left;
  margin-bottom: 30px; }
  .ofertacap-curso-info span {
    font-size: 2em;
    position: relative;
    top: 6px;
    margin-right: 15px; }

.ofertacap-curso-vermas {
  display: block;
  max-width: 110px;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.6em;
  border-radius: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.ofertacap-curso-vermas:hover {
  background-color: rgba(0, 0, 0, 0.25); }

.ofertacap-info-oculta {
  padding: 30px 40px;
  color: white; }
  .ofertacap-info-oculta h4, .ofertacap-info-oculta p {
    margin-top: 0; }
  .ofertacap-info-oculta ul li {
    padding-bottom: 25px; }
  .ofertacap-info-oculta ul li:last-child {
    padding-bottom: 0; }

.oculta {
  display: none; }

/* --------  PÁGINA: SOBRE EL DEPARTAMENTO  -------- */
.sobre-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 40px; }
  .sobre-caption p {
    color: white;
    font-size: 1.3em;
    line-height: 1.35em; }

@media only screen and (max-width: 979px) {
  .sobre-caption {
    position: relative;
    background-color: #ff8d3a;
    margin-top: 25px; } }
@media only screen and (max-width: 650px) {
  #sobre-slider .carousel-control {
    top: 12% !important; }

  .sobre-caption {
    padding: 25px;
    font-size: 0.9em; } }
/* --------  PÁGINA: CONTACTO  -------- */
section#contacto .row-fluid {
  margin-top: 45px; }
section#contacto .btn.btn-large {
  display: block;
  margin: 0 auto; }
section#contacto .add-on {
  background-color: #ff8d3a;
  color: white;
  text-shadow: none; }
section#contacto textarea {
  border-radius: 5px; }
section#contacto .span7 {
  padding-right: 30px; }

.contacto-ayuda, .contacto-ayuda-oscuro {
  background-color: #ff8d3a;
  display: block;
  color: white;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.4em;
  padding: 25px; }
  .contacto-ayuda span, .contacto-ayuda-oscuro span {
    font-size: 5em; }
  .contacto-ayuda p, .contacto-ayuda-oscuro p {
    margin-bottom: 0; }

.contacto-ayuda-oscuro {
  background-color: #f06c18;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.contacto-ayuda-oscuro:hover {
  background-color: #d0570a;
  padding: 35px 25px; }

@media only screen and (max-width: 979px) {
  .contacto-ayuda, .contacto-ayuda-oscuro {
    font-size: 1.4em; } }
@media only screen and (max-width: 767px) {
  section#contacto .span7 {
    padding-right: 0; }

  .contacto-ayuda {
    margin-top: 40px; } }
/* --------  PÁGINA: AYUDA  -------- */
.accordion-heading {
  background-color: #f06c18;
  font-size: 1.2em;
  padding: 12px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative; }
  .accordion-heading a {
    outline: 0 !important; }
  .accordion-heading p {
    display: inline-block;
    padding-right: 40px;
    margin: 0; }
  .accordion-heading span {
    display: inline-block;
    font-size: 1.3em;
    position: absolute;
    top: 17px;
    right: 20px; }

.accordion-heading:hover, .accordion-heading.inner:hover {
  background-color: #d0570a; }

.accordion-heading.inner {
  font-size: 1.1em;
  background-color: #ff8d3a;
  padding: 6px 0;
  margin-bottom: 8px; }
  .accordion-heading.inner span {
    top: 14px; }

.accordion-inner {
  border: none; }

.ayuda-lista {
  list-style-type: square;
  margin-bottom: 25px; }
  .ayuda-lista li {
    padding-bottom: 10px; }
  .ayuda-lista a {
    color: white;
    font-weight: 600;
    background-color: #ff8d3a;
    padding: 0.2em 0.6em;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .ayuda-lista a:hover {
    background-color: #d0570a; }

/* --------  PÁGINA: EQUIPO DE CAPACITADORES  -------- */
.capacitador .ofertacap-curso {
  background-color: #5abcb3; }
  .capacitador .ofertacap-curso .col2 {
    border-right: 1px solid #309e94; }
    .capacitador .ofertacap-curso .col2 p {
      font-size: 1.1em;
      font-style: italic;
      letter-spacing: -1px; }
  .capacitador .ofertacap-curso .col3 h4 {
    text-align: left; }
.capacitador .ofertacap-info-oculta {
  background-color: #309e94; }
.capacitador .capacitador-nombre {
  font-size: 1.5em;
  line-height: 25px; }

.capacitador-mail {
  display: block;
  background-color: #309e94;
  padding: 12px 0;
  font-size: 1.1em;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .capacitador-mail span {
    font-size: 1.2em;
    margin-right: 12px; }

.capacitador-mail:hover {
  background-color: #268d84; }

.capacitador .ofertacap-info-oculta ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .capacitador .ofertacap-info-oculta ul li {
    padding-bottom: 42px; }
  .capacitador .ofertacap-info-oculta ul li:last-child {
    padding-bottom: 0; }

.capacitador-info-h4 {
  text-transform: uppercase;
  margin: 22px 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1); }
  .capacitador-info-h4 span {
    margin-right: 15px;
    position: relative;
    top: 1px; }

.capacitador-lista {
  list-style-type: square !important;
  list-style-position: inside !important; }
  .capacitador-lista li {
    padding-bottom: 25px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px; }
    .capacitador-lista li p {
      margin: 0; }
  .capacitador-lista li:last-child {
    border-bottom: 0px;
    margin-bottom: 0; }

.capacitador-lista-titulo {
  margin-bottom: 9px !important; }
  .capacitador-lista-titulo strong {
    font-size: 1.15em; }
  .capacitador-lista-titulo span {
    font-style: italic; }

@media only screen and (max-width: 767px) {
  .capacitador-mail span {
    display: none; } }
@media only screen and (max-width: 380px) {
  .capacitador-mail {
    font-size: 0.8em; } }
@media only screen and (max-width: 320px) {
  .capacitador-mail {
    font-size: 0.7em; } }
/* ----------------------------------------- */
/* ------ SISTEMA SOLICITUD DE CURSOS ------ */
/* ----------------------------------------- */
.request-body {
  min-width: 960px; }

.request-header {
  text-align: center; }

.request-container {
  width: 960px !important;
  max-width: 960px;
  margin: 0 auto;
  display: block !important;
  padding-top: 0px; }

.request-fixed-wrap {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0px; }

.request-container.step {
  padding-top: 15px !important; }

.request-header-logo {
  width: 230px;
  height: 50px;
  display: inline-block;
  background: url(../img/logoTopSmall.png) no-repeat center center;
  text-indent: -9999px;
  float: left;
  position: relative;
  top: -4px; }

.header-help.request {
  position: relative;
  top: -20px; }

#request-header-step {
  width: 100%;
  height: 110px;
  background-color: #f06c18; }

.h2-request {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0 !important; }

.header-step-number {
  display: inline-block;
  color: white;
  background-color: #d0570a;
  border-radius: 5px;
  padding: 4px 11px;
  text-transform: uppercase; }
  .header-step-number span {
    font-weight: bold; }

.header-step-col1, .header-step-col2 {
  display: inline-block;
  color: white !important;
  float: left; }

.header-step-col1 {
  width: 290px;
  margin-right: 50px; }

.header-step-col2 {
  width: 600px; }
  .header-step-col2 p {
    font-size: 13px; }

.instructions {
  font-size: 19px !important;
  font-weight: 600;
  margin-top: 6px; }

/* ------ PASO 1 ------ */
.request-search-container {
  width: 100%;
  display: block;
  margin: 240px 0px 35px 0; }
  .request-search-container .icon_search {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ff8d3a;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    float: left; }

.request-search-input {
  float: left;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  border-right: none !important; }

#request-listing {
  padding-bottom: 58px; }

#listing-table {
  width: 100%;
  text-transform: uppercase; }
  #listing-table th {
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 18px; }

.listing-header {
  border-bottom: 1px solid #e7e7e7; }

.course {
  font-size: 16px;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .course td {
    padding: 18px 0; }

.circle {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 7px;
  margin-right: 15px; }

.course-red {
  color: #ce4850 !important; }
  .course-red .circle {
    background-color: #ce4850; }
  .course-red .course-moreinfo {
    background-color: #ce4850; }
  .course-red .course-moreinfo:hover {
    background-color: #ba4249; }

.course-blue {
  color: #348dc9 !important; }
  .course-blue .circle {
    background-color: #348dc9; }
  .course-blue .course-moreinfo {
    background-color: #348dc9; }
  .course-blue .course-moreinfo:hover {
    background-color: #2e7cb2; }

.course-green {
  color: #86c440 !important; }
  .course-green .circle {
    background-color: #86c440; }
  .course-green .course-moreinfo {
    background-color: #86c440; }
  .course-green .course-moreinfo:hover {
    background-color: #7ab13c; }

.course-moreinfo {
  font-size: 12px;
  padding: 4px 11px;
  display: inline-block;
  border-radius: 5px; }

.course-time, .course-modules {
  display: inline-block;
  font-size: 16px; }
  .course-time span, .course-modules span {
    font-size: 24px;
    position: relative;
    top: 3px;
    margin-right: 6px; }
  .course-time p, .course-modules p {
    display: inline-block; }

.course-modules {
  margin-left: 17px; }

.course-check {
  font-size: 22px;
  position: relative;
  left: 32px;
  top: -2px; }

#request-footer {
  width: 100%;
  height: 59px;
  background-color: #ff8d3a;
  position: fixed;
  bottom: 0px; }

.request-container-footer {
  width: 960px !important;
  max-width: 960px;
  margin: 0 auto;
  display: block !important;
  margin-top: 15px; }

.request-footer-btnleft {
  display: inline-block;
  width: 120px;
  float: left; }

.request-footer-info {
  display: inline-block;
  width: 660px;
  float: none;
  text-align: center;
  font-size: 18px;
  color: white;
  position: relative;
  top: 4px; }

.request-footer-btnright {
  display: inline-block;
  width: 120px;
  float: right; }

.request-container > form {
  display: none; }

/*
.lf-hidden {
	display: table-row !important;
	opacity: 0;
	height: 0px;
	overflow: hidden;
	padding: 0;
	border: 0;
}*/
/*
.lf-hidden > td {
	display: none;
	max-height: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	@include transitionall02;
}*/
/* ------ PASO 2 ------ */
.course-datepicker-col1 {
  display: inline-block;
  width: 46px;
  text-align: right;
  color: #686868;
  font-size: 0.9em;
  line-height: 20px;
  margin-right: 10px; }

.course-datepicker-col2 {
  display: inline-block;
  width: 130px; }
  .course-datepicker-col2 input {
    width: 100%; }
  .course-datepicker-col2 p {
    width: 90px;
    display: inline-block;
    color: #7b7b7b;
    font-weight: bold; }

.course-modules-picker {
  margin: 0 !important;
  padding: 0 !important; }
  .course-modules-picker li {
    list-style: none;
    margin-bottom: 8px; }
    .course-modules-picker li input {
      font-size: 18px;
      display: inline-block;
      margin-right: 9px; }
    .course-modules-picker li label {
      display: inline-block;
      position: relative;
      top: 3px;
      font-size: 1em; }

.icon-select {
  font-size: 1.1em;
  padding-right: 15px; }

.modules-list-cell {
  min-width: 115px; }

.course-modules-list {
  list-style-position: inside;
  margin: 0;
  padding: 0; }
  .course-modules-list li {
    padding-bottom: 10px; }

.course-info-list {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0; }
  .course-info-list li {
    color: #7b7b7b;
    font-weight: bold;
    padding-bottom: 10px; }
    .course-info-list li span {
      font-size: 1.1em;
      padding-right: 16px; }

#request-done {
  width: 100%;
  text-align: center;
  margin-top: 250px;
  color: #86c440; }
  #request-done .gracias {
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 40px; }
  #request-done h2 {
    font-weight: 500;
    color: #86c440;
    margin-top: 20px;
    margin-bottom: 0px; }
  #request-done .check {
    font-size: 5em; }
  #request-done .btn {
    font-size: 1.1em;
    font-weight: 600; }
    #request-done .btn span {
      font-size: 1.2em;
      margin-right: 12px;
      position: relative;
      top: 2px; }

.modal .btn-primary {
  background: #ff8d3a; }

.request-cargando-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden !important; }

.request-cargando {
  position: absolute;
  width: 100px;
  height: 100px;
  background: whitesmoke url(../img/loading.gif) no-repeat center center;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 6px;
  border: 1px solid #C5C5C5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); }
